/* ==========================================================================
   Main Page styles
========================================================================== */

/*header background*/
header {
  background: #3778C3 url('../img/hero.png') no-repeat;
  background-size: cover;
}

/*Logo/header-text box*/
section.headline {
  padding: 5rem 0;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

/*"John Moriarty"*/
.headertext h1{
  font-size: 36px;
  letter-spacing: -3%;
  font-family: "muli", sans-serif;
  font-weight: 300;
  color: #ffffff;
  line-height: .25rem;
}

@media ( min-width: 700px) {
.headertext h1{
  font-size: 64px;
  }
}

/*"UX design and fine..."*/
.headertext h4{
  font-size: 18px;
  font-family: "muli", sans-serif;
  font-weight: 300;
  color: #ffffff;
  line-height: .25rem;
}

/*Logo*/
.logo{
  width: 8%;
  height: 8%;
  padding-right: 1rem;
}

/*overall navbar box*/
.navbar {
  display: flex;
  position: relative;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 2.68rem;
  background-color: rgba(55, 120, 195, .4);
  /*mix-blend-mode: multiply;*/
}

/*overall navbar-text style 'li' reset and placement*/
.navbar ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-right: 2%;
}

/*navbar list item alignment and spacing*/
.navbar ul li {
  display: block;
  margin-left: 2rem;
}

/*navbar font*/
.navbar ul li a{
  font-size: 18px;
  font-family: "muli", sans-serif;
  font-weight: 300;
  text-decoration: none;
  color: #ffffff;
}

/* overall greeting box */
.greeting {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media ( min-width: 700px) {
.greeting{
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
  }
}

/* desktop/mobile image version switch */
.desktop {
  display:none;
}

@media (min-width: 700px){
.mobile{
  display:none;
  }
.desktop{
  display:block;
  }
}

/* portrait sizing/styling */
.greeting img {
  width: 45%;
  box-shadow: 6px 6px 22px rgba(55, 120, 195, 0.4);
  border-radius: 0px 0px 150px 0px;
}

@media ( min-width: 700px) {
.greeting img {
  max-width: 70%;
  padding-top: 5%;
  box-shadow: none;
  border-radius: 0px;
  }
}

/* greeting text box */
.hey {
  width: 50%;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
  margin-right: 2%;
}

@media ( min-width: 700px) {
.hey {
  width: 50%;
  margin-right: 0;
  }
}

/*"Hey" text styling*/
.hey h2 {
  font-size: 24px;
  font-family: "Playfair Display";
  color: #0F2A6E;
  text-decoration: none;
}

@media ( min-width: 700px) {
.hey h2 {
  font-size: 36px;
  }
}

/*greeting body text styling*/
.hey p{
  font-size: 1em;
  font-family: "muli";
  font-weight: 300;
  color: #0F2A6E;
  text-decoration: none;
  line-height: 1.25em;
}

@media ( min-width: 700px) {
.hey p{
  font-size: 18px;
  }
}

/*overall selected work box*/
.selected-work {
  box-sizing: border-box;
  display: block;
  margin-top: 10%;
  margin-bottom: 8%;
}

@media ( min-width: 700px) {
.selected-work {
  margin-top: 0;
  box-sizing: border-box;
  justify-content: center;
  }
}

/*"selected works" styling*/
.selected-work h2 {
  font-size: 24px;
  font-family: "Playfair Display";
  color: #0F2A6E;
  text-decoration: none;
  margin-left: 10%;
 }
}

@media ( min-width: 700px) {
.selected-work h2 {
  font-size: 36px;
  }
}

/*overall case studies container*/
.container {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media ( min-width: 700px) {
.container {
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
  }
}

/*Case Study title styling*/
.container h3{
  font-family: "Muli";
  font-weight: bold;
  color: #0F2A6E;
  font-size: 18px;
}

/*box for "View Case Study"*/
.work-button {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0px;
  padding-bottom: 6%;
  padding-top: 6%;
  background-color: rgba(55, 120, 195, 1);
}

/*"View Case Study"*/
.container a{
  font-family: "Muli";
  font-weight: normal;
  color: #ffffff;
  font-size: 18px;
  text-decoration: none;
}

/*Case Study description styling*/
.container p{
  font-family: "Muli";
  font-weight: normal;
  color: #0F2A6E;
  font-size: 16px;
  line-height: 150%;
}

/*Mine case study box*/
.mine {
  width: 75%;
  position: relative;
}

@media ( min-width: 700px) {
.mine {
  width: 45%;
  max-width: 450px;
  max-height: 100%;
  }
}

/*Mine image*/
.mine img{
  width: 100%;
}

/*Busybus case study box*/
.bus {
  padding-top: 7%;
  position: relative;
  width: 75%;
}

@media ( min-width: 700px) {
  .bus {
  padding-top: 0;
  width: 45%;
  max-width: 450px;
  max-height: 100%;
  }
}

/*Busybus image*/
.bus img{
  width: 100%;
}

/*overall footer box*/
.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 2.68rem;
  background-color: rgba(55, 120, 195, 1);
}

/*overall footer-text style 'li' reset and placement*/
.footer ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-right: 2%;
}

/*footer list item alignment and spacing*/
.footer ul li {
  display: block;
  margin-left: 2rem;
}

/*footer font*/
.footer ul li a{
  font-size: 18px;
  font-family: "muli", sans-serif;
  font-weight: 300;
  text-decoration: none;
  color: #ffffff;
}

/* ==========================================================================
   About page classes
========================================================================== */

/*overall content frame*/
.about-frame {
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
}

@media ( min-width: 900px) {
.about-frame {
  margin-left: 1%;
  margin-right: 1%;
  display: flex;
  justify-content: space-between;
  }
}

/* desktop/mobile image version switch */
.about-desktop {
  display:none;
}

@media (min-width: 900px){
.about-mobile{
  display:none;
  }
.about-desktop{
  display:block;
  }
}

/*image styling*/
.about-frame img{
  padding: 1%;
}

@media ( min-width: 900px) {
.about-frame img{
  padding-top: 0;
  padding-bottom: 0;
}
}

/*body text box*/
@media ( min-width: 900px) {
.desktop-text {
  padding-top: 12%;
  padding-left: 2%;
  padding-right: 2%;
  }
}

/*body text styling*/
.about-frame p {
  text-align: left;
  font-family: "Muli";
  font-weight: normal;
  color: #0F2A6E;
  font-size: 16px;
  line-height: 150%;
}

@media ( min-width: 900px) {
.about-pics1 {
}
}
@media ( min-width: 900px) {
.about-pics2 {
  padding-top: 325px;
}
}

/* ==========================================================================
   "Mine" Case study page classes
========================================================================== */

/*overall case study content box*/
.casestudy{
  margin-left: 3%;
  margin-right: 3%;
}

@media ( min-width: 700px) {
.casestudy{
  margin-left: 10%;
  margin-right: 10%;
}
}

/*overall case study title styling*/
.casestudy h2{
  font-family: "Playfair";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 16px;
  display: flex;
  align-items: center;
}

@media ( min-width: 700px) {
.casestudy h2{
  font-size: 24px;
}
}

/*overall case study image styling
.casestudy img{
  width: 75%;
}
*/

/*overall case study body text styling*/
.casestudy p{
  font-family: "Muli";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 130%;
  /* or 18px */
  display: flex;
  align-items: center;
  color: #000000;
  margin-bottom: 5%;
}

@media ( min-width: 700px) {
.casestudy p{
  line-height: 154%;
}
}

/*overall case study button styling*/
.button{
  background: #FFFFFF;
  border: 1px solid #DADADA;
  box-sizing: border-box;
  border-radius: 13px;
  text-decoration: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 1.75%;
  font-family: Arial;
  font-weight: bold;
  font-size: 16px;
  align-items: center;
  text-align: center;
  color: #0075FF;
}

@media ( min-width: 700px) {
.button{
  font-size: 18px;
}
}

/*overall space between sections*/
.name{
  margin-bottom: 10%;
}

@media ( min-width: 700px) {
  .name{
    margin-bottom: 5%;
  }
}

/*overall title section*/
.title{
  box-sizing: border-box;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

@media ( min-width: 700px) {
  .title{
    display: inline-flex;
    justify-content: center;
  }
}

/*title image*/
.title img{
  width:95%;
  padding-left: 8%;
}

@media ( min-width: 700px) {
.title img{
    order: 2;
    width: 70%;
    padding-left: 0;
  }
}

/*overall title text box*/
@media ( min-width: 700px) {
 .titletext{
  order: 1;
  margin-top: 30%;
  width: 30%;
  }
}

/*"MINE*/
.title h1{
  padding-top: 0;
  margin: 0;
  font-family: "gill sans";
  text-transform: uppercase;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: #000000;
}

@media ( min-width: 700px) {
.title h1{
  font-size: 64px;
  display: flex;
}
}

/*"a minimal cloud.."*/
.title p{
  font-family: "Muli";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 110%;
  letter-spacing: 0.04em;
  color: #000000;
  width: 100%;
  margin-top:6%;
  margin-bottom: 6%;
}

/*dashboard screen*/
.intro img{
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
}

/*overall ul reset*/
ul {
  text-decoration: none;
  list-style-type: none;
}

/*survey ul box*/
.survey ul {
  text-decoration: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.survey li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

}

.survey h6 {
  display: flex;
  align-items: center;
  width: 144px;
  height: 49px;
  background: #FFF8EE;
  border-radius: 0px 15px 15px 0px;
}

.survey span{
  display: flex;
  align-items: center;
  text-align: center;
  padding: 2%;
  height: 49px;
  border-radius: 100%;
  background: #FFFFFF;
  box-shadow: 0px 0px 8px rgba(220, 180, 134, 0.5);
}

/*comp analysis ul box*/
.competitive-analysis ul{
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 7%;
  padding-bottom: 7%;
  font-family: "Muli";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 110%;
  /* or 18px */
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #000000;
  }

/*comp analysis text padding*/
.competitive-analysis li{
  padding-top: 5%;
}

/*comp analysis logo box*/
.comp-logos {
  display: flex;
  justify-content: space-around;
}

@media ( min-width: 700px) {
.comp-logos {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
}

/*comp analysis logos*/
.competitive-analysis img{
  width: 20%;
  display: inline-flex;
  align-items: baseline;
  text-align: center;
}

/*overall personas block*/
.persona-block{
  padding-top: 5%;
  padding-left: 8%;
  width: 75%;
  display: flex;
  flex-wrap: wrap;
}

/*box for persona portraits and titles*/
.persona-pics{
  display: inline-flex;
  padding-top: 3%;
  padding-bottom: 3%;
  align-items: center;
}

/*persona portraits*/
.persona-pics img{
  width: 89px 89px;
}

/*persona portrait title styling*/
.personas h4{
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  align-items: center;
  text-indent: 10px;
  color: #000000;
  width: 100%;
}

/*list under portrait box*/
.personas ul{
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
  font-family: "Muli";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 110%;
  /* or 18px */
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #000000;
  }

/*persona list text padding*/
.personas li{
  padding-top: 3%;
}

/*user stories orange list box*/
.user-stories ul{
  width: 70%;
  margin-top: 10%;
  margin-bottom: 10%;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 5%;
  padding-bottom: 5%;
  font-family: "Muli";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 110%;
  /* or 18px */
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #000000;
  background: #FFF8EE;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  }

/*user stories orange box text padding*/
.user-stories li{
  padding-top: 3%;
}

/*user flow image*/
.user-flows img{
  padding-top: 15%;
  width: 100%;
}

/*wireframe images*/
.wireframes img{
  padding-top: 10%;
  width: 100%;
}

/*testing section box for button spacing*/
.button-stack{
  display: flex;
  flex-wrap: wrap;
}

/*testing section button styling*/
.testing a{
  margin-right: 20%;
  margin-top: 2%;
  margin-bottom: 2%;
}

/*testing orange list box*/
.testing ul{
  margin: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
  font-family: "Muli";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 110%;
  /* or 18px */
  align-items: center;
  justify-content: center;
  color: #000000;
  background: #FFF8EE;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  list-style-type: disc;
 }

/*user stories orange box text padding*/
.testing li{
 padding-top: 3%;
 }

.branding img{
  width: 100%;
}

.mockups img{
  width: 100%;
}

.conclusion img{
  width: 100%;
}

/* ==========================================================================
   Helper classes (optional)
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
