/* ==========================================================================
   Your custom styles
   ========================================================================== */

/*header background*/
header {
  background: #3778C3 url('../img/hero.png') no-repeat;
  background-size: cover;
}

/*Logo/header-text box*/
section.headline {
  padding: 5rem 0;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

/*"John Moriarty"*/
.headertext h1{
  font-size: 36px;
  letter-spacing: -3%;
  font-family: "muli", sans-serif;
  font-weight: 300;
  color: #ffffff;
  line-height: .25rem;
}

@media ( min-width: 700px) {
.headertext h1{
  font-size: 64px;
  }
}

/*"UX design and fine..."*/
.headertext h4{
  font-size: 18px;
  font-family: "muli", sans-serif;
  font-weight: 300;
  color: #ffffff;
  line-height: .25rem;
}

/*Logo*/
.logo{
  width: 8%;
  height: 8%;
  padding-right: 1rem;
}

/*overall navbar box*/
.navbar {
  display: flex;
  position: relative;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 2.68rem;
  background-color: rgba(55, 120, 195, .4);
  /*mix-blend-mode: multiply;*/
}

/*overall navbar-text style 'li' reset and placement*/
.navbar ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-right: 2%;
}

/*navbar list item alignment and spacing*/
.navbar ul li {
  display: block;
  margin-left: 2rem;
}

/*navbar font*/
.navbar ul li a{
  font-size: 18px;
  font-family: "muli", sans-serif;
  font-weight: 300;
  text-decoration: none;
  color: #ffffff;
}

/* overall greeting box */
.greeting {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media ( min-width: 700px) {
.greeting{
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
  }
}

/* portrait version switch */
.desktop {
  display:none;
}

@media (min-width: 700px){
.mobile{
  display:none;
  }
.desktop{
  display:block;
  }
}

/* portrait sizing/styling */
.greeting img {
  width: 45%;
  box-shadow: 6px 6px 22px rgba(55, 120, 195, 0.4);
  border-radius: 0px 0px 150px 0px;
}

@media ( min-width: 700px) {
.greeting img {
  max-width: 70%;
  padding-top: 5%;
  box-shadow: none;
  border-radius: 0px;
  }
}

/* greeting text box */
.hey {
  width: 50%;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
  margin-right: 2%;
}

@media ( min-width: 700px) {
.hey {
  width: 50%;
  margin-right: 0;
  }
}

/*"Hey" text styling*/
.hey h2 {
  font-size: 24px;
  font-family: "Playfair Display";
  color: #0F2A6E;
  text-decoration: none;
}

@media ( min-width: 700px) {
.hey h2 {
  font-size: 36px;
  }
}

/*greeting body text styling*/
.hey p{
  font-size: 1em;
  font-family: "muli";
  font-weight: 300;
  color: #0F2A6E;
  text-decoration: none;
  line-height: 1.25em;
}

@media ( min-width: 700px) {
.hey p{
  font-size: 18px;
  }
}

/*overall selected work box*/
.selected-work {
  box-sizing: border-box;
  display: block;
  margin-top: 10%;
  margin-bottom: 8%;
}

@media ( min-width: 700px) {
.selected-work {
  margin-top: 0;
  box-sizing: border-box;
  justify-content: center;
  }
}

/*"selected works" styling"*/
.selected-work h2 {
  font-size: 24px;
  font-family: "Playfair Display";
  color: #0F2A6E;
  text-decoration: none;
  margin-left: 10%;
 }
}

@media ( min-width: 700px) {
.selected-work h2 {
  font-size: 36px;
  }
}

/*overall case studys container*/
.container {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media ( min-width: 700px) {
.container {
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
  }
}

/*Case Study title styling*/
.container h3{
  font-family: "Muli";
  font-weight: bold;
  color: #0F2A6E;
  font-size: 18px;
}

/*Case Study description styling*/
.container p{
  font-family: "Muli";
  font-weight: normal;
  color: #0F2A6E;
  font-size: 16px;
  line-height: 150%;
}

/*Mine case study box*/
.mine {
  width: 75%;
}

@media ( min-width: 700px) {
.mine {
  width: 45%;
  max-width: 450px;
  max-height: 100%;
  }
}

/*Mine image*/
.mine img{
  width: 100%;
}

/*Busybus case study box*/
.bus {
  width: 75%;
}

@media ( min-width: 700px) {
  .bus {
  width: 45%;
  max-width: 450px;
  max-height: 100%;
  }
}

/*Busybus image*/
.bus img{
  width: 100%;
}

/*overall footer box*/
.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 2.68rem;
  background-color: rgba(55, 120, 195, 1);

}

/*overall footer-text style 'li' reset and placement*/
.footer ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-right: 2%;
}

/*footer list item alignment and spacing*/
.footer ul li {
  display: block;
  margin-left: 2rem;
}

/*footer font*/
.footer ul li a{
  font-size: 18px;
  font-family: "muli", sans-serif;
  font-weight: 300;
  text-decoration: none;
  color: #ffffff;


/* ==========================================================================
   Helper classes (optional)
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
